{% extends 'publiclanding/base.html' %}
{% load static %}
{% block menu %}
<section data-bs-version="5.1" class="header3 cid-tdxNMUdm2F" id="header03-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-5 image-wrapper">
                <img class="w-100" src="{% static 'publiclanding/extensions/influencerm5/instagram-influencer/assets/images/features2.jpg' %}" alt="Mobirise Website Builder">
            </div>
            <div class="col-12 col-lg col-md-12">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1"><strong>Freelance Makeup Artist</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Streamline your booking process and grow your client base with a bookeve website for Free.
                    </p>
                    <div class="mbr-section-btn mt-3">
                        <a class="btn btn-lg btn-secondary display-7" href="#">Get Started</a>
                        <a class="btn btn-lg btn-secondary display-7" href="#">Download App</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="features6 cid-tdxO0nnOKE" id="features06-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 pb-4">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-1">
                    <strong>Features</strong></h3>
            </div>
            <div class="col-sm-6 col-md-12 col-lg-4">
                <div class="card-wrap card1">
                    <div class="image-wrap">
                        <img src="{% static 'publiclanding/extensions/influencerm5/instagram-influencer/assets/images/features1.jpg' %}" alt="Mobirise Website Builder">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title mbr-fonts-style align-left m-0 display-5">
                            <strong>Get Online in 30 Sec</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style align-left display-7">
                            With Few Clicks Create Beautiful Website.
                        </p>

                    </div>
                </div>
            </div>
               <div class="col-sm-6 col-md-12 col-lg-4">
                <div class="card-wrap card2">
                    <div class="image-wrap">
                        <img src="{% static 'publiclanding/extensions/influencerm5/instagram-influencer/assets/images/features2.jpg' %}" alt="Mobirise Website Builder">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title2 mbr-fonts-style align-left m-0 display-5">
                            <strong>List Packages, Offers & More</strong>
                        </h5>
                        <p class="card-text2 mbr-fonts-style align-left display-7">
                            Add Packages, Offers from skretch or import Readymade for your service category.
                        </p>

                    </div>
                </div>
            </div>
               <div class="col-sm-6 col-md-12 col-lg-4">
                <div class="card-wrap card3">
                    <div class="image-wrap">
                        <img src="{% static 'publiclanding/extensions/influencerm5/instagram-influencer/assets/images/features3.jpg' %}" alt="Mobirise Website Builder">
                    </div>
                    <div class="content-wrap">
                        <h5 class="mbr-section-title card-title3 mbr-fonts-style align-left m-0 display-5">
                            <strong>All Done, Start Managing Orders</strong>
                        </h5>
                        <p class="card-text3 mbr-fonts-style align-left display-7">
                            Manage Customers, Orders and Payment with our App.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="header5 cid-tdxNYI8cif" id="header05-3">
    <div class="container">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-7 mbr-form">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h1 class="mbr-section-title mbr-fonts-style mb-5 display-1"><strong>Book A Demo</strong>
                    </h1>
                </div>
                <div class="text-wrapper align-left" data-form-type="formoid">
                    <!--Formbuilder Form-->
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="text"  value="">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling
                                out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12"> Oops...! some
                                problem! </div>
                        </div>
                        <div class="dragArea row">
                            <div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="phone_number" placeholder="Ex. +91 7248088596"  class="form-control display-7" value="" id="email-header05-3">
                            </div>
                            <div class="col-auto mbr-section-btn"><button type="submit" class="w-100 w-100 w-100 w-100 w-100 w-100 btn btn-success display-4">Book Now</button></div>
                        </div>
                    </form>
                    <!--Formbuilder Form-->
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="features4 cid-tdxO14723f" id="features04-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-1"><strong>Let's Grow</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-idea mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-5"><strong>Launch Fast</strong></h5>
                        <p class="card-text mbr-fonts-style display-7"> </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-growing-chart mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-5"><strong>Scale Faster
                        </strong></h5>
                        <p class="card-text mbr-fonts-style display-7"> </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-change-style mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-5"><strong>Manage Better</strong></h5>
                        <p class="card-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="header2 cid-tdxOqvZdhb" id="header02-d">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-5 image-wrapper">
                <img class="w-100" src="{% static 'publiclanding/extensions/influencerm5/instagram-influencer/assets/images/features1.jpg' %}" alt="Mobirise Website Builder">
            </div>
            <div class="col-12 col-md-12 col-lg">
                <div class="text-wrapper align-left">
                    <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>Link to your Instagram Bio or share it to your contacts</strong></h1>
                    <p class="mbr-text align-left mbr-fonts-style display-7">
                        Easily connect your new website to your Instagram Bio or share it with your contacts to reach a wider audience!</p>
                    <div class="mbr-section-btn align-left mt-3"><a class="btn btn-lg btn-primary display-4" href="">Get Started</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="video1 cid-tdxOEKI0B5" id="video01-e">
    <div class="align-center container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-1"><strong>Watch Video</strong></h4>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-lg-12">
                <div class="box">
                    <div class="mbr-media show-modal align-center" data-modal=".modalWindow">
                        <img src="{% static 'publiclanding/extensions/influencerm5/instagram-influencer/assets/images/background1.jpg' %}" alt="Mobirise">
                        <div class="icon-wrap">
                            <a class="text-primary" href="#"><span class="mbr-iconfont socicon-youtube socicon"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modalWindow" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" data-src="https://www.youtube.com/watch?v=VA8PzkQa8d8"></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal" data-bs-dismiss="modal">
                        <span aria-hidden="true" class="mbr-iconfont mobi-mbri-close mobi-mbri closeModal"></span>
                        <span class="sr-only visually-hidden">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="social2 cid-tdxO4rQvS6" id="social02-8">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <h2 class="title mbr-fonts-style align-left mb-5 display-5"><strong>Share Link to Get Orders</strong></h2>
            </div>
            <div class="card col-12 col-md-6 col-lg-6">
                <div class="item-img">
                        <img src="{% static 'publiclanding/extensions/influencerm5/instagram-influencer/assets/images/features1.jpg' %}" alt="Mobirise Website Builder">
                    </div>
                <div class="card-wrapper">
                    <span class="mbr-iconfont m-auto socicon-instagram socicon"></span>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-0 display-7"><strong>Instagram</strong></h4>
                        <h5 class="card-text mbr-fonts-style display-4">Add it to Your Bio</h5>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-6">
                <div class="item-img">
                        <img src="{% static 'publiclanding/extensions/influencerm5/instagram-influencer/assets/images/features4.jpg' %}" alt="Mobirise Website Builder">
                    </div>
                <div class="card-wrapper">
                    <span class="mbr-iconfont m-auto socicon-whatsapp socicon"></span>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-0 display-7"><strong>WhatsApp</strong></h4>
                        <h5 class="card-text mbr-fonts-style display-4">Share Link to Your Contacts</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="list1 cid-tdxOTZpHwi" id="list01-f">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content">
                    <div class="mbr-section-head align-left mb-5">
                        <h3 class="mbr-section-title mb-2 mbr-fonts-style display-2"><strong>FAQ</strong></h3>
                    </div>
                    <div id="bootstrap-accordion_9" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_9" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Is Bookeve free to use?
                                    </h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_9">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-4">We do offer a free plan, but for a more scalable business, we recommend you upgrade to a premium plan.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_9" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Can We Receive Online Payments?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse2_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_9">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-4">
                                        Yes, With UPI, CARDS and more.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_9" aria-expanded="false" aria-controls="collapse3">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Can We Plug Maketing tools like Analytics, GTM, Facebook Pixel?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse3_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_9">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-4">
                                        Yes, it is really easy to make your website SEO friendly and track your customer activities.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="clients2 cid-tdxO2EAyjQ" id="clients02-6">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-5 display-2"><strong>Our Clients</strong></h3>
            </div>
            <div class="col-sm-6 card col-lg-3">
                <div class="card-wrap card1">
                    <div class="content-wrap">
                        <div class="mbr-section-btn card-btn align-center"><a class="btn btn-white display-4" href="#"><span class="socicon socicon-instagram mbr-iconfont mbr-iconfont-btn"></span>/profilelink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 card col-lg-3">
                <div class="card-wrap card2">
                    <div class="content-wrap">
                        <div class="mbr-section-btn card-btn align-center"><a class="btn btn-white display-4" href="#"><span class="socicon socicon-instagram mbr-iconfont mbr-iconfont-btn"></span>/profilelink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 card col-lg-3">
                <div class="card-wrap card3">
                    <div class="content-wrap">
                        <div class="mbr-section-btn card-btn align-center"><a class="btn btn-white display-4" href="#"><span class="socicon socicon-instagram mbr-iconfont mbr-iconfont-btn"></span>/profilelink</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 card col-lg-3">
                <div class="card-wrap card4">
                    <div class="content-wrap">
                        <div class="mbr-section-btn card-btn align-center"><a class="btn btn-white display-4" href="#"><span class="socicon socicon-instagram mbr-iconfont mbr-iconfont-btn"></span>/profilelink</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="article1 cid-tdxOi0lqX2" id="article01-c">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-md-12 col-lg-12">
                <div class="card-wrapper">
                    <div class="card-box align-left">
                        <h4 class="card-title mbr-fonts-style mbr-white mb-0 display-1">
                            <strong>Bookeve

                            </strong>
                            <br>
                            <hr>
                            Get Online
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="footer3 cid-tdxO5MWA8J" once="footers" id="footer03-9">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2023 Wofo24 Technologies Pvt Ltd - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock menu %}